[tool.djlint]
profile = "django"
indent = 2
max_line_length = 120
format_attribute_template_tags = true
preserve_leading_space = true
preserve_blank_lines = true
ignore = "H006,H030,H031"

[tool.djlint.css]
indent_size = 2

[tool.djlint.js]
indent_size = 2
