{% extends "base.html" %}

{% block title %}Welcome{% endblock title %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">FantasyGator</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to the private Counter-Strike Fantasy League. Please log in to access your portal and make predictions.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-4 gap-3">Login</a>
    </div>
  </div>
</div>
{% endblock content %}
